.center {
    text-align:center;
}
.center-page {
        width :300px;
        height :300px;
        position :absolute;
        top :-40px;
        bottom :0;
        left :0;
        right :0;
        margin :auto;
    }
.footer-pos {
        width :auto;
        height :auto;
        position :absolute;
        top :378px;
        bottom :279px;
        left :-124px;
        right :124px;
        margin :auto;
    }